.tree ul,
.tree li {
  list-style: none;
  list-style-type: none;
}

.root-list>li {
  margin-left: 0 !important;
}

.tree .caret {
  cursor: pointer;
  user-select: none;
}

.tree .nested {
  display: none;
}

.tree .active {
  display: block;
}

.tree .caret::before {
  content: "▶️";
  display: inline-block;
  margin-right: 4px;
}

.tree .space {
  margin-left: 16px;
  padding-left: 10px;
}

.tree .caret-down::before {
  transform: rotate(90deg);
}